<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Juego</h2>
            <div id="jugadores">
                <!-- Aquí se mostrarán los nombres de los jugadores y las materias obtenidas -->
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <h4 id="turno">Turno del jugador: </h4>
                <button id="btnPregunta" class="btn btn-primary mt-4">Desplegar pregunta</button>
            </div>
        </div>
    </div>
</div>